.beautypress-black-overlay-single-blog {
    background-color: rgba(0, 0, 0, 0.5);
}

.beautypress-footer-widget-title {
    color: #ffffff;
}

.beautypress-footer-widget-area * p {
    color: #ffffff;
}

.beautypress-footer-widget-area * a {
    color: #7531A1;
}

.beautypress-footer-section-v2 {
    background-color: #8224e3;
}

.beautypress-footer-menu ul li a {
    color: #ffffff;
}

.beautypress-footer-menu ul li a:hover {
    color: #7531A1;
}

.beautypress-copyright-content {
    background-color: #7531a1;
}

.beautypress-404-content .beautypress-btn-wraper a {
    background-color: #4ca14b;
}

.beautypress-404-content .beautypress-btn-wraper span {
    background-color: #FF4641;
}

.xs-btn.bg-color-white span {
    background-color: #dd9711;
}

.xs-btn.bg-color-red span {
    background-color: #dd9711;
}

.color-purple {
    color: #dd9711 !important;
}

.bg-color-purple {
    background-color: #dd9711 !important;
}

.preloader-window {
    background-color: #dd9711;
}

.beautypress-main-header nav li a:focus {
    color: #dd9711;
}

.beautypress-main-header nav li a:before {

    background-color: #dd9711;
}

.beautypress-welcome-slider .owl-nav i {
    color: #dd9711;
}

.beautypress-welcome-slider-wraper .owl-dots .owl-dot span {
    border: 2px solid #dd9711;
}

.beautypress-welcome-slider-wraper .owl-dots .owl-dot.active span {
    background-color: #dd9711;
}

.beautypress-border-with-text h2 span {
    color: #dd9711;
}

.beautypress-border.beautypress-version-2:before {
    border: 10px solid #dd9711;
}

.simple-icon-btn:hover {
    color: #dd9711;
}

.beautypress-border.beautypress-version-3,
.beautypress-border.beautypress-version-3:before,
.beautypress-border.beautypress-version-3:after {
    border-color: #dd9711;
}

.beautypress-booking-text h2 {
    color: #dd9711;
}

.beautypress-icon-bg-text:before {
    color: #dd9711;
}

.beautypress-booking-form-wraper textarea:focus,
.beautypress-booking-form-wraper input:focus,
.beautypress-booking-form-wraper select:focus {
    border-color: #dd9711 !important;
}

.beautypress-booking-form-wraper input[type="submit"]:hover {
    background-color: #dd9711;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover:active {
    background-image: none;
    background-color: #dd9711 !important;
}

.beautypress-iocn-btn.full-round-btn.bg-color-purple {
    background-color: #dd9711;
}

.beautypress-tab .beautypress-top-nav li a i {
    color: #dd9711;
}

.beautypress-content-headinig h2 {
    color: #dd9711;
}

.beautypress-newsfeed-footer a:hover {
    color: #dd9711;
}

.beautypress-subscribe-wraper input[type="submit"] {
    background-color: #dd9711;
}

.beautypress-watermark-title.beautypress-section-headinig i {
    color: #dd9711;
}

.bg-color-purple .beautypress-language-select-list select option {
    background-color: #dd9711;
}

.beautypress-product-hover-elements .pulse-btn i:after {
    color: #dd9711;
}

.beautypress-shop-shedule p {
    color: #dd9711;
}

.beautypress-watermark-title .beautypress-neumaric-heading h2:before {
    color: #dd9711;
}

.beautypress-both-side-list.beautypress-version-2 li span {
    color: #dd9711;
}

.beautypress-partner-list.beautypress-version-2 li:nth-child(2):before {
    border-color: #dd9711;
}

.beautypress-subscribe-wraper.beautypress-version-2 .beautypress-subscribe label {
    color: #dd9711;
}

.beautypress-footer-section.beautypress-version-2 .beautypress-copyright-content {
    background-color: #dd9711;
}

.beautypress-header-section .nav-menu .nav-submenu>li a:hover {
    color: #dd9711;
}

.beautypress-header-section.beautypress-header-version-4 .beautypress-main-header .xs-navigation-middle-menu.xs_nav-landscape .nav-menu li a:hover {
    color: #dd9711;
}

.beautypress-breadcrumb li:last-child a {
    color: #dd9711;
}

.beautypress-single-square-service-content i {
    color: #dd9711;
}

.beautypress-overlay-with-img {
    background-color: #dd9711;
}

.beautypress-single-square-service-content:hover:before {
    background-color: #dd9711;
}

.beautypress-popular-service-section.beautypress-version-2 .beautypress-popular-service-content {
    background-color: #dd9711;
}

.beautypress-contact-form input[type="submit"] {
    background-color: #dd9711;
}

.beautypress-contact-details.beautypress-version-2 {
    border: 10px solid #dd9711;
}

.beautypress-pagination li a:hover {
    background-color: #dd9711;
}

.beautypress-tag a:hover {
    color: #dd9711;
}

.beautypress-blog-post-wraper blockquote {
    border-left: 6px solid #dd9711;
}

.beautypress-simple-title span {
    color: #dd9711;
}

.beautypress-simple-title a:hover {
    color: #dd9711;
}

.beautypress-replay-form-wraper .form-control:focus {
    border-color: #dd9711;
}

.beautypress-replay-form-wraper input[type="submit"] {
    background-color: #dd9711;
}

.beautypress-category-list li i {
    color: #dd9711;
}

.beautypress-single-beauty-product.beautypress-version-2 .beautypress-beauty-product-footer h3 {
    color: #dd9711;
}

.beautypress-single-beauty-product.beautypress-version-2 .icon-btn-with-text:before {
    background-color: #dd9711;
}

.beautypress-version-7.beautypress-footer-section .beautypress-copyright-text span {
    color: #dd9711;
}

.beautypress-single-details h4 {
    color: #dd9711;
}

.woocommerce-Price-currencySymbol {
    color: #dd9711;
}

.beautypress_input_number {
    border: 2px solid #dd9711;
}

.beautypress_input_number input[type="number"] {
    color: #dd9711;
}

.beautypress-add-to-chart-form .w-quantity-btn button.button.alt {
    background-color: #dd9711;
}

.beautypress-woocommerce-tabs .nav-tabs li a:before {
    background-color: #dd9711;
}

.beautypress-woocommerce-tabs .comment-form input:focus,
.beautypress-woocommerce-tabs .comment-form textarea:focus {
    border-color: #dd9711;
}

.beautypress-woocommerce-tabs #respond input#submit {
    background-color: #dd9711;
}

.beautypress-cart .coupon input[type="submit"] {
    background-color: #dd9711;
}

.beautypress-cart .wc-proceed-to-checkout input[type="submit"],
.beautypress-cart .wc-proceed-to-checkout a.checkout-button.button.alt {
    background-color: #dd9711;
}

.beautypress-header-section.beautypress-header-version-3.beautypress-header-version-4 .beautypress-main-header .xs-navigation-middle-menu.xs_nav-landscape .nav-menu li a:hover {
    color: #dd9711;
}

.beautypress-welcome-slider-wraper .customNavigation .next-prev-btn {
    background-color: #dd9711;
}

.xs-btn.bg-chocolate span {
    background-color: #dd9711;
}

.color-cyan {
    color: #dd9711 !important;
}

.bg-color-cyan {
    background-color: #dd9711 !important;
}

.bg-color-cyan .beautypress-language-select-list select option {
    background-color: #dd9711;
}

.beautypress-version-2.beautypress-section-headinig h2 {
    color: #dd9711;
}

.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-side-nav li a:hover,
.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-side-nav li.active a,
.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-top-nav li a:hover i,
.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-top-nav li.active a i {
    color: #dd9711;
}

.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-side-nav li a:before {
    background-color: #dd9711;
}

.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-top-nav li a:before,
.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-top-nav li a:after {
    border-color: #dd9711;
}

.beautypress-booking-section.beautypress-version-2 .beautypress-booking-text h2 {
    color: #dd9711;
}

.beautypress-booking-section.beautypress-version-2 .beautypress-booking-form-wraper input[type="submit"] {
    background-color: #dd9711;
}

.beautypress-photo-gallery-section.beautypress-version-2 .beautypress-portfolio-nav ul li a:hover,
.beautypress-photo-gallery-section.beautypress-version-2 .beautypress-portfolio-nav ul li a.selected {
    color: #dd9711;
}

.beautypress-photo-gallery-section.beautypress-version-2 .beautypress-portfolio-nav ul li a:before,
.beautypress-photo-gallery-section.beautypress-version-2 .beautypress-gallery-overlay {
    background-color: #dd9711;
}

.icon-btn-with-text:hover:before {
    background-color: #dd9711;
}

.beautypress-popular-service-content {
    background-color: #dd9711;
}

.beautypress-image-slider .owl-dot.active span {
    background-color: #dd9711;
}

.beautypress-footer-menu ul li a:hover {
    color: #dd9711;
}

.beautypress-version-4.beautypress-footer-section .beautypress-copyright-content {
    background-color: #dd9711;
}

.beautypress-clients-wraper.beautypress-version-4 .beautypress-single-client {
    background-color: #dd9711;
}

.beautypress-single-square-service-content.beautypress-version-3:hover:before {
    background-color: #dd9711;
}

.beautypress-single-square-service-content.beautypress-version-4:hover:before {
    background-color: #dd9711;
}

.beautypress-footer-section.beautypress-version-5 .beautypress-copyright-content {
    background-color: #dd9711;
}

.beautypress-footer-section.beautypress-version-5 .beautypress-footer-menu ul li a:hover {
    color: #dd9711;
}

.beautypress-single-new-pricing.beautypress-pricing-header {
    background-color: #dd9711;
}

.icon-btn-with-text.icon-btn-with-text-v2:before {
    background-color: #dd9711;
}

.xs-btn.bg-color-purple span {
    background-color: #e3bda8;
}

.beautypress-section-headinig h2 {
    color: #e3bda8;
}

.color-pink {
    color: #e3bda8 !important;
}

.bg-color-pink {
    background-color: #e3bda8 !important;
}

.beautypress-welcome-slider .owl-nav i:hover {
    color: #e3bda8;
}

.beautypress-big-sub-heading h2 {
    color: #e3bda8;
}

.beautypress-simple-iocn-list.beautypress-version-2 ul li {
    color: #e3bda8;
}

.beautypress-booking-text ul li:last-child {
    color: #e3bda8;
}

.beautypress-booking-form-wraper input[type="submit"] {
    background-color: #e3bda8;
}

.datepicker table tr td.active:hover {
    background-color: #e3bda8 !important;
}

.beautypress-portfolio-nav ul li a:hover,
.beautypress-portfolio-nav ul li a.selected {
    color: #e3bda8;
}

.beautypress-portfolio-nav ul li a:before {
    background-color: #e3bda8;
}

.beautypress-iocn-btn.full-round-btn.bg-color-pink {
    background-color: #e3bda8;
}

.beautypress-tab .beautypress-top-nav li a:hover i,
.beautypress-tab .beautypress-top-nav li.active a i {
    color: #e3bda8;
}

.beautypress-tab .beautypress-top-nav li a:before,
.beautypress-tab .beautypress-top-nav li a:after {
    border-color: #e3bda8;
}

.beautypress-tab .beautypress-side-nav li a:hover,
.beautypress-tab .beautypress-side-nav li.active a {
    color: #e3bda8;
}

.beautypress-tab .beautypress-side-nav li a:before {
    background-color: #e3bda8;
}

.beautypress-language-select-list select option {
    background-color: #e3bda8;
}

.beautypress-popular-service-section.beautypress-version-2 .beautypress-single-popular-service:hover .beautypress-popular-service-footer a {
    color: #e3bda8;
}

.beautypress-popular-service-section.beautypress-version-2 .beautypress-single-popular-service:hover .beautypress-popular-service-content {
    background-color: #e3bda8;
}

.beautypress-service-title:hover {
    color: #e3bda8;
}

.beautypress-single-beauty-product.beautypress-version-2 .icon-btn-with-text:hover:before {
    background-color: #e3bda8;
}

label[for="rating"] {
    color: #e3bda8;
}

.beautypress-add-to-chart-form .beautypress-wishlist i {
    background-color: #e3bda8;
}

.beautypress-cart .wc-proceed-to-checkout a.checkout-button.button.alt {
    background-color: #e3bda8;
}

.beautypress-header-section.beautypress-header-version-3.beautypress-header-version-4 .beautypress-main-header.color-pink .nav-menu li a:before {
    background-color: #e3bda8;
}

.beautypress-header-section.beautypress-header-version-3.beautypress-header-version-4 .beautypress-main-header.color-pink .xs-navigation-middle-menu.xs_nav-landscape .nav-menu li a:hover {
    color: #e3bda8;
}

.beautypress-welcome-slider-wraper .customNavigation .next-prev-btn:hover {
    background-color: #e3bda8;
}

.xs-btn.bg-color-cyan span {
    background-color: #e3bda8;
}

.color-chocolate {
    color: #e3bda8 !important;
}

.bg-chocolate {
    background-color: #e3bda8 !important;
}

.beautypress-service-section.beautypress-version-2 .beautypress-tab .beautypress-top-nav li a i {
    color: #e3bda8;
}

.beautypress-booking-section.beautypress-version-2 .beautypress-border.beautypress-version-3,
.beautypress-booking-section.beautypress-version-2 .beautypress-border.beautypress-version-3:before,
.beautypress-booking-section.beautypress-version-2 .beautypress-border.beautypress-version-3:after {
    border-color: #e3bda8;
}

.beautypress-booking-section.beautypress-version-2 .beautypress-icon-bg-text:before {
    color: #e3bda8;
}

.beautypress-booking-section.beautypress-version-2 .beautypress-booking-form-wraper textarea:focus,
.beautypress-booking-section.beautypress-version-2 .beautypress-booking-form-wraper input:focus,
.beautypress-booking-section.beautypress-version-2 .beautypress-booking-form-wraper select:focus {
    border-color: #e3bda8 !important;
}

.beautypress-booking-section.beautypress-version-2 .beautypress-booking-form-wraper .beautypress-select .input-group.actives:before {
    background-color: #e3bda8;
    border-color: #e3bda8;
}

.beautypress-both-side-list.beautypress-version-3 li span {
    color: #e3bda8;
}

.beautypress-beauty-product-footer h3 {
    color: #e3bda8;
}

.icon-btn-with-text:before {
    background-color: #e3bda8;
}

.beautypress-border-chocolate.beautypress-border.beautypress-version-2:before {
    border-color: #e3bda8;
}

.beautypress-vedio-section-with-text-v2 .beautypress-simple-iocn-list.beautypress-version-2 ul li {
    color: #e3bda8;
}

.beautypress-single-popular-service:hover .beautypress-popular-service-footer a {
    color: #e3bda8;
}

.beautypress-single-popular-service:hover .beautypress-popular-service-content {
    background-color: #e3bda8;
}

.beautypress-feature-icon i {
    color: #e3bda8;
}

.beautypress-subscribe-wraper.beautypress-version-4 input[type="submit"] {
    background-color: #e3bda8;
}

.beautypress-comming-soon-section.beautypress-version-2 .beautypress-comming-soon-text h3 {
    color: #e3bda8;
}

.next-prev-btn.small-btn {
    background-color: #e3bda8;
}

.beautypress-clients-wraper.beautypress-version-4 .beautypress-single-client:hover {
    background-color: #e3bda8;
}

.beautypress-partner-list.beautypress-version-3 li:nth-child(2):before {
    border-bottom: 1px solid #e3bda8;
}

.beautypress-partner-text-content h3 {
    color: #e3bda8;
}

.beautypress-single-team.beautypress-version-2:after {
    background-color: #e3bda8;
}

.beautypress-version-2.beautypress-single-square-service-content:before {
    border: 2px solid #e3bda8;
}

.beautypress-version-2.beautypress-single-square-service-content .beautypress-overlay-with-img {
    background-color: #e3bda8;
}

.beautypress-version-2.beautypress-single-square-service-content i,
.beautypress-version-2.beautypress-single-square-service-content:hover i {
    color: #e3bda8;
}

.beautypress-single-square-service-content.beautypress-version-3 i {
    color: #e3bda8;
}

.beautypress-single-square-service-content.beautypress-version-4 i {
    color: #e3bda8;
}

.beautypress-single-square-service-content.beautypress-version-4 .beautypress-overlay-with-img {
    background-color: #e3bda8;
}

.beautypress-call-to-action-v2.beautypress-version-2 {
    background-color: #e3bda8;
}

.beautypress-simple-text-with-img-section.beautypress-simple-text-with-img-section-v3 .beautypress-simple-text.beautypress-watermark-icon:before {
    color: #e3bda8;
}

.beautypress-sub-heading.beautypress-watermark-title.beautypress-version-2 h3 {
    color: #e3bda8;
}

.beautypress-single-new-pricing.beautypress-pricing-footer h5 {
    color: #e3bda8;
}

.beautypress-single-new-pricing-wraper.active .beautypress-pricing-header,
.beautypress-single-new-pricing-wraper.active .beautypress-pricing-footer {
    background-color: #e3bda8;
}

.beautypress-single-pricing-table.beautypress-version-5 .beautypress-pricing-header-content .beautypress-pricing-title h2 {
    color: #e3bda8;
}

.beautypress-both-side-list.beautypress-version-4 span {
    color: #e3bda8;
}

.icon-btn-with-text.icon-btn-with-text-v2:hover:before {
    background-color: #e3bda8;
}

.xs-btn.bg-color-purple.purple-2 span {
    background-color: #e3bda8;
}

.xs-btn.bg-color-green span {
    background-color: #e3bda8;
}

.color-red {
    color: #e3bda8 !important;
}

.bg-color-red {
    background-color: #e3bda8 !important;
}

.beautypress-footer-section.beautypress-version-3 .beautypress-subscribe-wraper input[type="submit"]:hover {
    background-color: #e3bda8 !important;
}

.beautypress-shop-shedule i {
    color: #e3bda8;
}

.beautypress-both-side-list.beautypress-version-2 li:hover,
.beautypress-both-side-list.beautypress-version-2 li:hover span {
    color: #e3bda8;
}

.beautypress-booking-section.beautypress-version-2 .beautypress-booking-form-wraper input[type="submit"]:hover {
    background-color: #e3bda8;
}

.beautypress-btn-2.back-to-top.bg-dark-green:hover {
    background-color: #e3bda8 !important;
}
