.elementor-331 .elementor-element.elementor-element-7c417aa>.elementor-container {
    min-height: 152px;
}

.elementor-331 .elementor-element.elementor-element-7c417aa>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-331 .elementor-element.elementor-element-7c417aa:not(.elementor-motion-effects-element-type-background),
.elementor-331 .elementor-element.elementor-element-7c417aa>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
}

.elementor-331 .elementor-element.elementor-element-7c417aa {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px 0px 6px 0px;
}

.elementor-331 .elementor-element.elementor-element-7c417aa>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-331 .elementor-element.elementor-element-3e0c5a5>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-331 .elementor-element.elementor-element-3e0c5a5:not(.elementor-motion-effects-element-type-background),
.elementor-331 .elementor-element.elementor-element-3e0c5a5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #dd9711;
}

.elementor-331 .elementor-element.elementor-element-3e0c5a5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-331 .elementor-element.elementor-element-3e0c5a5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-container {
    height: 75px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 15px 0px 15px;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:active {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li:hover>a {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: rgba(255, 255, 255, 0.63);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li.current-menu-item>a {
    color: rgba(255, 255, 255, 0.6313725490196078);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: rgba(255, 255, 255, 0.6313725490196078);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: rgba(255, 255, 255, 0.6313725490196078);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    color: #FFFFFF;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    font-size: 14px;
    text-transform: capitalize;
    padding: 15px 0px 15px 0px;
    color: #222222;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #E0E0E0;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: #dd9711;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: #dd9711;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: #dd9711;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: #dd9711;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: #dd9711 !important;
    background-color: rgba(2, 1, 1, 0);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li:last-child>a {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-submenu-panel {
    padding: 15px 0px 15px 0px;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel {
    border-style: solid;
    border-width: 0px 20px 0px 20px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    min-width: 220px;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.03);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-hamburger {
    float: right;
    border-style: solid;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: #FFFFFF;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-hamburger>.ekit-menu-icon {
    color: #FFFFFF;
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: rgba(0, 0, 0, 0.5);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-close {
    color: rgba(51, 51, 51, 1);
}

.elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-close:hover {
    color: rgba(0, 0, 0, 0.5);
}

@media(max-width:1024px) {
    .elementor-331 .elementor-element.elementor-element-3e0c5a5 {
        padding: 10px 10px 10px 10px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a {
        color: #000000;
        padding: 10px 15px 10px 15px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:hover {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:focus {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:active {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li:hover>a {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li.current-menu-item>a {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li.current-menu-ancestor>a {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
        color: #000000;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        padding: 15px 15px 15px 15px;
        color: #222222;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
        color: #dd9711;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
        color: #dd9711 !important;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-hamburger {
        padding: 8px 8px 8px 8px;
        width: 45px;
        border-radius: 3px;
        border-width: 0px 0px 0px 0px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-nav-logo>img {
        max-width: 160px;
        max-height: 60px;
    }

    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
    }
}

@media(max-width:767px) {
    .elementor-331 .elementor-element.elementor-element-a717e7b .elementskit-nav-logo>img {
        max-width: 120px;
        max-height: 50px;
    }
}

@media(min-width:768px) {
    .elementor-331 .elementor-element.elementor-element-9666c50 {
        width: 18%;
    }

    .elementor-331 .elementor-element.elementor-element-acf4de5 {
        width: 54%;
    }

    .elementor-331 .elementor-element.elementor-element-d65e8e3 {
        width: 27.332%;
    }
}