.elementor-199 .elementor-element.elementor-element-55c5 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-6c0e .beautypress-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-6c0e .beautypress-big-sub-heading h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-6c0e .beautypress-separetor-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-6c0e .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-8fb5dd4 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-b33770d {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-d092ef5 .beautypress-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-d092ef5 .beautypress-big-sub-heading h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-d092ef5 .beautypress-separetor-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-d092ef5 .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-a718d6c {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-9a20325 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-79178ac .beautypress-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-79178ac .beautypress-big-sub-heading h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-79178ac .beautypress-separetor-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-79178ac .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-66d5b8e:not(.elementor-motion-effects-element-type-background),
.elementor-199 .elementor-element.elementor-element-66d5b8e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2018/01/welcome-bg-v4-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-199 .elementor-element.elementor-element-66d5b8e>.elementor-background-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-199 .elementor-element.elementor-element-66d5b8e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 100px 0px 100px 0px;
}

.elementor-199 .elementor-element.elementor-element-09f160e {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-f5f70d3 .beautypress-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-f5f70d3 .beautypress-big-sub-heading h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-f5f70d3 .beautypress-separetor-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-f5f70d3 .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-247b268:not(.elementor-motion-effects-element-type-background),
.elementor-199 .elementor-element.elementor-element-247b268>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2018/01/welcome-bg-v4-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-199 .elementor-element.elementor-element-247b268>.elementor-background-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-199 .elementor-element.elementor-element-247b268 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 100px 0px 100px 0px;
}

.elementor-199 .elementor-element.elementor-element-416fc6c .beautypress-clients-wraper.no-slider .beautypress-clients-group .beautypress-single-client {
    background-color: #4db6ac;
}

.elementor-199 .elementor-element.elementor-element-416fc6c .beautypress-clients-wraper.no-slider .beautypress-clients-group .beautypress-single-client:hover {
    background-color: #e3bda8;
}

.elementor-199 .elementor-element.elementor-element-078248c {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-6451757 .beautypress-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-6451757 .beautypress-big-sub-heading h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-6451757 .beautypress-separetor-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-6451757 .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-2b01eec:not(.elementor-motion-effects-element-type-background),
.elementor-199 .elementor-element.elementor-element-2b01eec>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2018/01/slider-bg-1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-199 .elementor-element.elementor-element-2b01eec>.elementor-background-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-199 .elementor-element.elementor-element-2b01eec {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 100px 0px 100px 0px;
}

.elementor-199 .elementor-element.elementor-element-0bb2271 .beautypress-clients-wraper.no-slider .beautypress-clients-group .beautypress-single-client {
    background-color: rgba(77, 182, 172, 0);
}

.elementor-199 .elementor-element.elementor-element-0bb2271 .beautypress-clients-wraper.no-slider .beautypress-clients-group .beautypress-single-client:hover {
    background-color: rgba(227, 189, 168, 0);
}

.elementor-199 .elementor-element.elementor-element-074ed07 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-d702417 .beautypress-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-d702417 .beautypress-big-sub-heading h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-d702417 .beautypress-separetor-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-d702417 .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-c1c2a18:not(.elementor-motion-effects-element-type-background),
.elementor-199 .elementor-element.elementor-element-c1c2a18>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #4db6ac;
}

.elementor-199 .elementor-element.elementor-element-c1c2a18>.elementor-background-overlay {
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-199 .elementor-element.elementor-element-c1c2a18 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 100px 0px 100px 0px;
}

.elementor-199 .elementor-element.elementor-element-152a2db .beautypress-clients-wraper.no-slider .beautypress-clients-group .beautypress-single-client {
    background-color: rgba(77, 182, 172, 0);
}

.elementor-199 .elementor-element.elementor-element-152a2db .beautypress-clients-wraper.no-slider .beautypress-clients-group .beautypress-single-client:hover {
    background-color: rgba(227, 189, 168, 0);
}

.elementor-199 .elementor-element.elementor-element-1e52445 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-efbf7c4 .beautypress-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-efbf7c4 .beautypress-big-sub-heading h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-efbf7c4 .beautypress-separetor-sub-heading {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-efbf7c4 .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 1px;
}

.elementor-199 .elementor-element.elementor-element-12f5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 100px 0px;
}

.elementor-199 .elementor-element.elementor-element-12f5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-2c00.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-199 .elementor-element.elementor-element-2c00.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-199 .elementor-element.elementor-element-283 .beautypress-sub-heading {
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-283 .beautypress-big-sub-heading h2 {
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-283 .beautypress-separetor-sub-heading {
    margin-bottom: 40px;
}

.elementor-199 .elementor-element.elementor-element-283 .beautypress-watermark-title.beautypress-section-headinig h2 {
    margin-bottom: 40px;
}